.profile-container{
  min-height: 100vh;
}

form .acount-back{
  display: flex;
  justify-content: end;
  margin-top: 15px;
}

form .acount-back a {
  color: #000000;
  text-align: right;
  letter-spacing: 1.4px;
}

form .acount-back a:hover{
  color: #ff0000;
}

form .acount-back a svg{
  font-size: 14px;
}