.pro-container{
  width: 250px;
  height: auto;
  box-shadow:  0 0 10px #000000;
  margin: 0 15px 15px 15px;
  border-radius: 10px;
  transition: all 5s;
}

.pro-container:hover .card-header img{
  transform: scale(1.02);
}

.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.card-header a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-header img{
  height: 210px;
  width: 100%;
  transition: all 0.5s;
}

.card-body{
  text-align: center;
  padding: 10px 5px;
}

.card-body title{
  margin-bottom: 10px;
}

@media screen and (max-width: 800px) {
  .eye{
    display: none;
  }
}