.footer-container{
  padding: 20px 15px;
}

.footer-row{
  display: flex;
  justify-content: space-between;
}

.footer-col{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-col:first-child img{
  width: 250px;
}

.footer-col:first-child img{
  width: 250px;
  margin-bottom: 20px;
}

.footer-col:first-child p{
  text-align: center;
  letter-spacing: 1.2px;
}

.footer-col:nth-child(2) h2, 
.footer-col:nth-child(3) h2, 
.footer-col:nth-child(4) h2{
  margin-bottom: 20px;
  letter-spacing: 1.5px;
}

.footer-col:nth-child(2) ul li , 
.footer-col:nth-child(3) ul li{
  margin-bottom: 10px;
} 

.footer-col:nth-child(2) ul li a, 
.footer-col:nth-child(3) ul li a{
  color: #001e28;
  letter-spacing: 1.2px;
}

.footer-col:nth-child(2) ul li a:hover, 
.footer-col:nth-child(3) ul li a:hover{
  color: #ff0000;
}

.footer-copyrow{
  text-align: center;
  font-size: 14px;
  padding: 10px 0;
  letter-spacing: 1.2px;
}

@media screen and (max-width: 780) {
  .footer-row{
    flex-direction: column;
  }
  .footer-col{
    margin-bottom: 20px;
  }
}